<div class="content">
  <div style="text-align: left; margin-top: 80px; display: flex; align-items: center; justify-content: space-between;">
    <h1 style="flex-grow: 1;">Email Hierarchy</h1>

    <%= link_to new_email_hierarchy_path, class: "float-end" do %>
        New Hierarchy
    <% end %> 
</div>
</div>

<%= render 'layouts/sidebar' %>
