<div style="position: absolute; top: 10px; right: 30px;">
  <%= link_to 'javascript:history.back()', class: "btn-icon" do %>
    <%= image_tag("back.png", alt: "Back", style: "height: 25px; width: 25px;") %>
    <p class="icon-text" style="margin-left: 10px;">Back</p>
  <% end %>
</div>