<div class="content">

    <div style="text-align: left; margin-top:60px">
      <h1>Dashboard</h1>
      
        <%= image_tag("workin hour.png", alt: "workhour", class: "workreport", style: "max-width: 1000px; max-height: 1000px;") %>
        
    </div>
</div>
 <%= render 'layouts/sidebar' %>