/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'fade_out_flash_messages';

 
 .content {
    flex: 1;
    padding: 20px;
    margin-left: 20%; /* Adjusted for the width of the sidebar */
    overflow-y: auto;
    box-sizing: border-box;
  }

  .content h1 {
    margin-top: 50;
  }

  .profile-details {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .profile-details h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee; /* Add a border bottom for separation */
    padding-bottom: 10px;
  }
  
  .profile-details p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .profile-details .info {
    margin-bottom: 20px;
  }
  
  .profile-details .info label {
    display: block;
    color: #555;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .profile-details .info span {
    color: #333;
    font-weight: bold;
  }
  
  .profile-details .actions {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-details .btn {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }
  
  .profile-details .btn:hover {
    background-color: #0056b3; /* Darken the background color on hover */
  }
  

  .sidebar a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .sidebar a:hover {
    opacity: 0.8;
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container {
    display: flex;
    height: 100vh;
  }

  .left-side {
    width: 40%;
    height: 100%;
    background-color: #0F1035;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    max-width: 80%;
    max-height: 80%;
  }

  .right-side {
    width: 60%;
    display: flex;
    background-color: #F9FFFF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

    .login-logo {
      max-width: 20%;
      max-height: 20%;
    }
.image-logo {
  width: 70%;
  height: 70%;
  /* Add any other styles as needed */
}

    .login-container {
      text-align: center;
    }

  .field {
    text-align: left;
  }

  .actions {
    text-align: center;
  }
  
  .sidebar a, .sidebar a:hover {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: flex; /* Align items in a flex container */
    align-items: center; /* Center items vertically */
  }
  
  .sidebar a:hover {
    opacity: 0.8;
  }
  
  .sidebar a img {
    vertical-align: middle;
    margin-right: 5px;
    height: 180px;
    width: 180px;
  }
  
  .sidebar a:hover img {
    /* Add hover effect styles for the image */
    filter: brightness(70%);
  }
  
  /* Ensure the text is left-aligned */
  .sidebar a span {
    margin-left: 5px; /* Adjust as needed */
  }
  
.btn-delete {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 60px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.btn-delete:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.cinematic-text {
  letter-spacing: 2px; 
}

/* Add this CSS to your stylesheet or in a style tag within your HTML file */

.icon-link a,
.icon-link a:hover {
  text-decoration: none; /* Removes the underline from the links within .icon-link */
  text-align: center;
}

.icon-text {
  /* Adjust the margin as needed */
  font-size: 12px; /* Adjust the font size as needed */
  color: #555; /* Adjust the color as needed */
}

.report-form {
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width */
  margin: 80px auto; /* Center the form vertically and horizontally */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.report-form h1 {
  margin-top: 20px; /* Adjust the top margin as needed */
}

.form-label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%; /* Make the form controls full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.actions {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #365486;
  color: #fff;
  cursor: pointer;
}


.btn:hover {
  background-color: #2c4368; /* Darken the background color on hover */
}


body, h1, h2, h3, h4, h5, h6, p, .sidebar, .content, .profile-details, .btn, .form-control, .tooltip-text, .icon-text {
  font-family: 'Creative', Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'Creative';
  src: url('path/to/Creative.ttf') format('truetype');
}


  .btn-icon-container {
    position: relative;
    display: inline-block;
  }

  .btn-icon-text {
    visibility: hidden;
    background-color: #fff;
    color: #000;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn-icon-container:hover .btn-icon-text {
    visibility: visible;
  }

  .chip {
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;

}


.select2-selection__choice {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #ccc;
  margin-right: 5px;
}

.show-chips .select2-selection__choice {
  background-color: #369;
  color: #fff;
}

